<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="registroUsuario.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" [(ngModel)]="registroUsuario.correo" name="correo" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="registroUsuario.passwd" name="passwd" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (clic)="registro()" type="submit" color="primary" expand="block">Registrarme</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
